.lista{
    border: 2px solid grey;
    width: 40rem;
    margin: 50px auto;
    padding: 20px;
    background-color: #cff4fc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.estado{
    text-shadow: 1px 1px 2px #222;
    cursor: pointer;
}

.mce{
    display: flex;
    justify-content: center;
    gap: 40px;
    text-shadow: 1px 1px 2px #232323;
}

.mce #i1{
    color: yellow;
    cursor: pointer;
}
.mce #i2{
    color: orange;
    cursor: pointer;
}
.mce #i3{
    color: red;
    cursor: pointer;
}

// formulario de creacion de contactos

.cards{
    border: 2px solid #232323;
    padding: 10px;
    width: 25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.show-form{
    display: none;
}

.close-card{
    outline: none;
    border: none;
    width: 0px;
    text-align: left;
    background-color: transparent;
    color: red;
}
.close-card:hover{
    color: darkred;
}

.no-cont{
    display: none;
}

.img-perfil{
    width: 12rem;
    margin: auto;
    border-radius: 50%;
    border: 3px solid  lightcoral;
}

.imgbtn-container{
    display: flex;
}

.close-modal{
    outline: none;
    border: none;
    width: 0px;
    text-align: left;
    background-color: transparent;
    color: red;
    position: absolute;
}

.close-modal:hover{
    color: darkred;
}

.perfil{
    position: absolute;
    width: 90%;
}